[submodule "test/qunit"]
	path = test/qunit
	url = https://github.com/jquery/qunit.git
[submodule "doc/proBlue"]
	path = doc/proBlue
	url = https://github.com/thewtex/proBlue.git
[submodule "src/static/jsdiff"]
	path = src/static/jsdiff
	url = https://github.com/kpdecker/jsdiff.git
[submodule "src/static/codemirror"]
	path = src/static/codemirror
	url = https://github.com/marijnh/CodeMirror.git
