[submodule "src/static/codemirror2"]
	path = src/static/codemirror2
	url = http://marijnhaverbeke.nl/git/codemirror2
[submodule "test/qunit"]
	path = test/qunit
	url = https://github.com/jquery/qunit.git
