{#

  edit.html
  ~~~~~~~~~

  Template for the editting pages created with the vcwebedit
  extension.

#}
{% extends "layout.html" %}
{#- We go with HTML5 for the FileWriter capability (and because we're hip). #}
{%- block doctype %}
<!DOCTYPE html>
{%- endblock %}
{%- block extrahead %}
    {# A larger default height for the editor. #}
    <style type="text/css"> .CodeMirror-scroll { height: 500px; overflow: scroll; } </style>
    {# Fix for the cursor height. #}
    <style type="text/css">.CodeMirror pre.CodeMirror-cursor { height:1.3em; }</style>
    {{ super() }}
{%- endblock %}
{% block body %}
          {{ super() }}
          {%- block editor %}
          <h2>Editor</h2>
          <div id="vcw.editor">
          </div>
          {%- endblock %}
          {%- block patch %}
          <h2>Patch</h2>
          <form id="patchForm">
            Commit message:<br/>
            <div style="border-style:inset;border-width:2px;">
              <div id="vcw.commitMessage">
              </div>
            </div>
            <table>
            <tr align="left">
              <td>Author name:</td>
              <td><input type="text" name="authorName"/></td>
              <td></td>
              <td id="vcw.errorMessage" class="system-message" style="display:none;"></td>
            </tr>
            <tr align="left">
              <td>Author email:</td>
              <td><input type="text" name="authorEmail"/></td>
            </tr>
            <tr align="left">
              <td></td>
              <td><input type="button" name="patchPreview" value="Preview patch"
                onclick="editor.previewPatch()"/></td>
              <td><input type="button" name="patchSave"    value="Save patch locally"/></td>
              <td><input type="button" name="patchSubmit"  value="Submit patch"/></td>
            </tr>
          </table></form>
          {%- endblock %}
          {%- block patch_preview %}
          <div id="vcw.patchPreviewSection" style="display:none;">
            <h2>Patch preview</h2>
            <div style="border-style:inset;border-width:2px;">
              <div id="vcw.patchPreviewText"></div>
            </div>
          </div>
          {%- endblock %}

          <script type="text/javascript">
            // global editor variable
            editor = new vcw.Editor();
            // Load the ReST file for this page.
            editor.loadFile("{{ pathto('_sources/' + editsourcename, true)|e }}");

            function initializeWindow()
              {
              // Use the keymap cookie.
              var keymap = vcw.read_cookie( "vcw.editor.keymap" );
              if( keymap )
                {
                document.getElementById( "vcw.keymapSelection" ).value = keymap;
                editor.selectKeymap( keymap );
                }
              // Use the theme cookie.
              var theme = vcw.read_cookie( "vcw.editor.theme" );
              if( theme )
                {
                document.getElementById( "vcw.themeSelection" ).value = theme;
                editor.selectTheme( theme );
                }
              }
            if( window.onload )
              {
              window.onload = function()
                {
                window.onload();
                initializeWindow();
                }
              }
            else
              {
              window.onload = initializeWindow;
              }
            </script>
{% endblock %}

{%- macro editsidebar() %}
      {%- if render_sidebar %}
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
          {%- block editoroptions %}
          <h3>{{ _('Editor options') }}</h3>
          <form><table>
            <tr align="left">
              <td><a class="reference internal">Theme:</a></td>
              <td>
                <select id="vcw.themeSelection" onchange="editor.selectTheme()">
                  <option>default</option>
                  <option>night</option>
                  <option>monokai</option>
                  <option>neat</option>
                  <option>elegant</option>
                  <option>cobalt</option>
                  <option>eclipse</option>
                  <option>rubyblue</option>
                </select>
              </td>
            </tr>
            <tr align="left">
              <td><a class="reference internal">Keymap:</a></td>
              <td>
                <select id="vcw.keymapSelection" onchange="editor.selectKeymap()">
                  <option>default</option>
                  <option>emacs</option>
                  <option>vim</option>
                </select>
              </td>
            </tr>
          </table></form>
          {%- endblock %}
          {%- block returnfromedit %}
            <h3>{{ _('Return') }}</h3>
            <ul class="this-page-menu">
              <li><a href="{{ pathto( editpagename )|e }}"
                     rel="nofollow">{{ _('Return to the original page') }}</a></li>
            </ul>
          {%- endblock %}
        </div>
      </div>
      {%- endif %}
{%- endmacro %}
{%- block sidebar2 -%}
  {{ editsidebar() }}
{%- endblock -%}

